<html>
  <head>

    <link rel="stylesheet" type="text/css" href="static/css/tooltipster.css" />
    <link rel="stylesheet" type="text/css" href="static/css/images.css" />
    <script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.tooltipster.min.js"></script>
    <script type="text/javascript" src="static/js/colpick.js"></script>
    <link rel="stylesheet" href="static/css/colpick.css" type="text/css"/>

  </head>
  <body>
    <div class="center">
    </div>

    <button id="picker">Office LED Color</button>
    <script type="text/javascript" src="static/js/tiler.js"></script>
    <button id="power" onclick="power()"> reset </button>
    led number: <input type="text" name="led_number" id="led_number">
  </body>
</html>

